.shop-container{
    display: grid; 
    grid-template-columns: 3fr 1fr;
    width: 96%;
    margin-left: 15px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    /* position: relative;
    height: 400px;
     */
}
.cart-delete-btn{
    width: 20px;
}
.cart-container{
    /* background-color: #dbe8ec;  */
    margin-left: 10px ;
    /* height: 400px; */
    border-radius: 15px;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 2px 5px 5px #888888;


}
.cart-info{
    padding-left: 1rem;
}
.cart-info-btn{
    background-color: #7ac6e2;
    color: white;
    border: none;
    border-radius: .5rem;
    width: 10rem;
    height: 2rem;
    margin: .3rem;
}
.selected-Books{
    font-weight: 700;
}
.cart-icon{
    height: 30px;
    width: 30px;
}
/* @media screen and (max-width:320px) {
    .product-container{
        grid-template-columns: repeat(1,1fr);
        display: block;
    }
} */
